In [8]:
a = 2
b = 3
a < b

True

In [9]:
print("Hello") if a>b else print("hlw") if a>b else print("hii")

hii

In [10]:
l = [i for i in range(0,100)]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [11]:
for i in l:
    l[i] = (i,i**2)

In [12]:
print(l)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100), (11, 121), (12, 144), (13, 169), (14, 196), (15, 225), (16, 256), (17, 289), (18, 324), (19, 361), (20, 400), (21, 441), (22, 484), (23, 529), (24, 576), (25, 625), (26, 676), (27, 729), (28, 784), (29, 841), (30, 900), (31, 961), (32, 1024), (33, 1089), (34, 1156), (35, 1225), (36, 1296), (37, 1369), (38, 1444), (39, 1521), (40, 1600), (41, 1681), (42, 1764), (43, 1849), (44, 1936), (45, 2025), (46, 2116), (47, 2209), (48, 2304), (49, 2401), (50, 2500), (51, 2601), (52, 2704), (53, 2809), (54, 2916), (55, 3025), (56, 3136), (57, 3249), (58, 3364), (59, 3481), (60, 3600), (61, 3721), (62, 3844), (63, 3969), (64, 4096), (65, 4225), (66, 4356), (67, 4489), (68, 4624), (69, 4761), (70, 4900), (71, 5041), (72, 5184), (73, 5329), (74, 5476), (75, 5625), (76, 5776), (77, 5929), (78, 6084), (79, 6241), (80, 6400), (81, 6561), (82, 6724), (83, 6889), (84, 7056), (85, 7225), (86, 7396), (87, 7569), (88, 7744), (89, 7921), (90, 8100), (91, 8281), (92, 8464), (93, 8649), (94, 8836), (95, 9025), (96, 9216), (97, 9409), (98, 9604), (99, 9801)]

In [13]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [14]:
def power(n):
    return lambda x : x**n
sq = power(2)
sq(3)

9

In [15]:
cube = power(3)
cube(4)

64

In [16]:
i = 0
while i<10:
    print(i)
    i +=1

0
1
2
3
4
5
6
7
8
9

In [18]:
for i in range(6):
    for j in range(i):
        print(j+1, end = " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [19]:
for i in range(1,11):
    print("5 * {} = {}".format(i,5*i))

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [22]:
l= [15,20,35,40,36,39,52,24,88,77]
for i in l:
    if(i%5 == 0):
        print("{} divisible by 5".format(i))
    if(i>45):
        print("Greater than 45")
        break

15 divisible by 5
20 divisible by 5
35 divisible by 5
40 divisible by 5
Greater than 45

In [23]:
for i in range(1,10):
    print(i)
else:
    print("Done")

1
2
3
4
5
6
7
8
9
Done

In [28]:
for i in range(-20,0):
    print(i)

-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

False

### Assignment

In [12]:
i = 0
while i<10:
    print(i)
    i +=1

0
1
2
3
4
5
6
7
8
9

In [23]:
x = int(input("Enter a number "))
if x>0:
    s = x*(x+1)/2
    print("The Sum is",s)
else:
    print("Enterd number is not positive")

Enter a number 109
The Sum is 5995.0

In [24]:
x = int(input("Enter a number to get the muliplication table "))
for i in range(1,11):
    print("{} * {} = {}".format(x,i,x*i))

Enter a number to get the muliplication table 90
90 * 1 = 90
90 * 2 = 180
90 * 3 = 270
90 * 4 = 360
90 * 5 = 450
90 * 6 = 540
90 * 7 = 630
90 * 8 = 720
90 * 9 = 810
90 * 10 = 900

In [25]:
x = int(input("Enter a number "))
n =0
while x>0:
    n+=1;
    x = x//10
print(n)

Enter a number 18257
5

In [30]:
l = [10,20,30,40,50]
for i in range(len(l)//2):
    l[i],l[len(l)-i-1] = l[len(l)-i-1],l[i]
print(l)

[50, 40, 30, 20, 10]

In [31]:
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [32]:
for i in range(5):
    print(i)
else:
    print("Done")

0
1
2
3
4
Done